.list {
    /* height */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 50px 29px;
}

.notification {
    display: block;
    width: fit-content;
    margin: auto;

    font-size: 24px;
}
